/* CSS styling */

/** {
  outline: 2px solid blue;
}*/

body {
  width: 100%;
  height: 100%;
  background-color: #e0ffff;
}

h1 {
  color: #FF3333;
  text-align: center;
  font-size: 50px;
  font-family: 'Architects Daughter', cursive;
}

.common_main {
  margin: 0 auto;
  width: 100%;
  height: 350px;
  background-image: url("img/frosted-cookie.jpg");
  background-repeat: repeat;
}

main {
  margin: 0 auto;
  width: 790px;
}

.main_text_wrapper {
  color: #ff4d4d;
  text-align: center;
  font-family: Georgia, Times, serif;
}

.family_img {
  width: 100%;
  height: 144px;
  margin: 5px;
  background-image: url("img/family.jpg");
  background-size: contain;
  background-size: 20%;
}

h2 {
  color: #ff4d4d;
  text-align: center;
  font-family: Georgia, Times, serif;
}

.main_text_wrapper p {
  width: 65%;
  margin: 0 auto;
  color: #1A1AFF;
  text-align: center;
  padding: 3px;
}

.image_block {
  width: 480px;
  margin: 0px auto;
  border: 3px solid #ff3333;
  border-radius: 20px;
}

.image_block img {
  width: 480px;
  height: 180px;
  border-radius: 20px;
  padding: 0px;
}

.image_group {
  color: black;
  background-color: black;
}

.all_products {
  width: 1200px;
  margin: 0 auto;
}

.product_display {
  /*width: 500px;*/
  height: 350px;
  display: flex;
}

.product_display img {
  width: 350px;
  height: 350px;
  margin-left: 350px;
}

.product_display p {
  width: 100px;
  margin: 14px;
  /*display: inline-block;*/
  color: black;
  text-align: center;
}

.main_about_us {
    width: 800px;
    color: #ff4d4d;
    text-align: center;
    font-family: Georgia, Times, serif;
    margin: 0 auto;
}

.main_about_us p {
  width: 80%;
  margin: 0 auto;
  color: black;
}

a {
   float: right;
}

.about_us_text {
  text-align: center;
  background-color: lightblue;
}

nav ul {
  width: 100%;
  list-style-type: none;
}

.nav_item {
  display: inline-block;
  margin-left: 10px;
  /*background-color: palegreen;*/
}

/* sales page style */

#store_data, #store_cust_data {
  width: 1500px;
  margin: auto;
  background-color: #33ccff;
}

#form_box {
  width: 100%;
}

/*#form_box > * {
  outline: 1px solid blue;
}*/

table {
  border: 2px solid black;
  width: 1500px;
  margin-left: 0px;
  empty-cells: show;
  margin-bottom: 10px;
}

th, td {
  border: 1px solid black;
  border-spacing: 0px;
}

th {
  font-weight: bold;
  font-family: Verdana, sans-serif;
  width: 40px;
}

thead th {
  border-bottom: 2px solid black;
  text-align: center;
  width: auto;
}

tr th{
  border-bottom: 2px solid black;
  text-align: right;
  width: auto;
}

td {
  text-align: right;
}

tfoot {
  font-weight: bold;
}

h3 {
  text-align: left;
  width: 350px;
  margin-bottom: 0;
}

form {
  border-style: double;
  border-width: 2px;
  border-color: black;
  width: 300px;
  background-color: #33ccff;
  align-items: stretch;
  display: inline-block;
}

form p {
  color: black;
}

/*fieldset {
  display: none;
  border-style: hidden;
  margin: 2px;
}*/

input {
  align-items: flex-end;
  background-color: #e0ffff;
}

/*
#navbar ul{
      list-style: none;
      position: absolute;
      left: -9999px; /*Hide off-screen when not hovered over*//*
      }


#navbar li:hover img {
      position: absolute;
      left: 0; /*Bring back on-screen when needed*//*
      }
*/

#sales_page:hover {

}

.events_list {
  width: 300px;
  margin: 20px auto;
}

.events_list ul {
  width: 200px;
  margin: 0 auto;
  margin-left: 0px;
  list-style-type: square;
}

.events_list li {
  text-align: left;
}
